.sidebarChat {
  display: flex;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.sidebarChat__info {
  margin-left: 10px;
}
